.container {
    background-color: white;
    border-radius: 15px;
}
body {
    background-color: #f9f8f6 !important;
}
nav{
    background-color: white;
}
.nav-item {
    background-color: #D9D9D9;
    border-radius: 50px;
    margin: 10px;
    padding: 2px;
    font-weight: 500;
}

.nav-item:hover {
    background-color: #09783e;
}

.nav-item:hover .nav-link {
    color: white !important;
}
.logo {
    width: 60px;
}
a:hover {
    color: #B34D1E;
    transition: 0.3s;
}

a {
    display: inline;
    justify-content: center;
    color: #B34D1E;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: gray;
}

img {
    border-radius: 15px;
}

.form-label {
    font-weight: 500;
    color: #B34D1E;
}

.form-control {
    border: solid 1px #104316;
}

.btn {
    background-color: #104316;
    font-weight: bold;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #B34D1E;
    color: white;
    transition: 0.3s;
}